<p>Bonjour le monde</p>

{% for form in forms %}
    <form action="{{ form.action }}" method="{{ form.method }}" {{ form.attributes|raw }}>
        {% for input in form.inputs %}
            <label for="">{{ input.label }}</label>
            <input type="{{ input.type }}" name="{{ input.name }}" {{ input.attributes|raw }}>
        {% endfor %}
    </form>
{% endfor %}